:root {
  --color-primary: #f13c20;
  --color-secondary: #d79922;
  --color-light: #fefefe;
  --color-dark: #272727;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
